<div>
    <mat-toolbar color="primary">
        <ul>
            <span class="pi pi-home"></span>
        </ul>
      
    </mat-toolbar>
</div>
<div class="login">
    <form class="custom-form" (ngSubmit)="login()" method="post">
        <h1>Login</h1>
        <input
            type="usuario"
            [(ngModel)]="usuario"
            name="usuario"
            placeholder="Usuario"
            required="required"
        />
        <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Password"
            required="required"
        />
        <button type="submit" (click)="login()">Iniciar sesión</button>
    </form>
</div>
